node_modules
package.json
package-lock.json
bun.lock
log/log.log
/log
/plugins/graphify.js
/specification-gaps.md
/tests/*
!/tests/todo-planner-routing.sh
!/tests/loop-todo-dependencies.sh
/project-mounts.sh
